$cal_sans: 'Cal sans';
$poppins: 'Poppins';

$black: #000;
$white: #fff;
$dark: #121212;
$dark-6: rgba(18, 18, 18, 0.6);
$dark-4: rgba(18, 18, 18, 0.4);
$gray: #666666;
$orange: #FF6428;

$transition: .3s all ease;

$border-bottom: 2px solid;